.myJumbo {
  height: 100vh;
}

.myBody {
  height: 100vh;
  padding-top: 50px;
}

.myJumbo p {
  max-width: 1000px;
}

body {
  padding-top: 50px;
}

.myBody h2, h3 {
  text-align: center;
}

.myBody img {
  padding-top: 10px;
}

.myBody ul, ol {
  list-style-type: none;
  border: solid 1px black;
  background-color: #DED2CE;
  margin: 5px;
  padding: 5px;
}

  .about img {
    float: left;
    max-width: 15vw;
    padding-right: 20px;
  }
